<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/main/css/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <section class="nav-logo-container">
                <a href="">
                    <img src="/assets/main/images/layout/logo.svg" alt="">
                </a>
            </section>
            <section class="nav-content-container">
                <ul class="nav-links-container">
                    <li class="nav-link active">О программе</li>
                    <li class="nav-link">Тарифы и цены</li>
                    <li class="nav-link">Контакты</li>
                </ul>
                <div class="nav-try-btn-container">
                    <a href="">
                        <button class="nav-try-btn">Попробовать бесплатно</button>
                    </a>
                </div>
                <div class="nav-contact-container">
                    <p class="nav-contact-text">Заказать обратный звонок</p>
                    <a href="" class="nav-contact-link">+7 (495) 677-95-51</a>
                </div>
            </section>
        </nav>
    </header>

    <main class="main">
        <section class="heading-section">
            <div class="heading-container pdIn-8rem">
                <article class="heading-text-column">
                    <h1 class="heading-title">Лучшая программа для автоматизации <span>автоломбарда</span></h1>
                    <p class="heading-text">Начните работать в XLombard бесплатно уже сегодня</p>
                    <div class="heading-btn-container">
                        <a href="">
                            <button class="heading-btn">Хочу попробовать!</button>
                        </a>
                        <p class="heading-btn-info">Подберем пакет документов и сделаем базовые настройки</p>
                    </div>
                </article>
                <div class="heading-content-container">
                    <div class="heading-content-feautres">
                        <div class="heading-content-column">
                            <i class="fa-regular fa-comment"></i>
                            <p class="heading-content-text">Поддержка</p>
                        </div>
                        <div class="heading-content-column">
                            <i class="fa-solid fa-code"></i>
                            <p class="heading-content-text">Экспертиза</p>
                        </div>
                        <div class="heading-content-column">
                            <i class="fa-regular fa-comment"></i>
                            <p class="heading-content-text">Доработки</p>
                        </div>
                        <div class="heading-content-column active">
                            <i class="fa-regular fa-comment"></i>
                            <p class="heading-content-text">Поддержка</p>
                        </div>
                    </div>
                    <div class="heading-showed-content">
                        <h3 class="heading-showed-title"><span>Ф</span>ункционал</h3>
                        <ul class="heading-showed-ul">
                            <li class="heading-showed-list">18 модулей</li>
                            <li class="heading-showed-list">Полный цикл управления портфелем</li>
                            <li class="heading-showed-list">Безопасность</li>
                            <li class="heading-showed-list">crm</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="opportunities-section">
            <div class="opportunities-container pdIn-8rem">
                <div class="opportunities-main-content">
                    <h2 class="opportunities-main-title">Идеально  для любого автоломбарда</h2>
                    <div class="opportunities-main-content-wrapper">
                        <div class="opportunities-main-column">
                            <div class="opportunities-main-text-column">
                                <h4 class="opportunities-main-column-title">Обратный лизинг</h1>
                                <p class="opportunities-main-column-text">Описание типа ломбарда на две строки</p>
                            </div>
                            <div class="opportunities-main-type-column">
                                <i class="fa-regular fa-file"></i>
                                <p class="opportunities-main-type">ДКП + ДФА</p>
                            </div>
                        </div>
                        <div class="opportunities-main-column">
                            <div class="opportunities-main-text-column">
                                <h4 class="opportunities-main-column-title">Ломбард Сlassic</h1>
                                <p class="opportunities-main-column-text">Описание типа ломбарда на две строки</p>
                            </div>
                            <div class="opportunities-main-type-column">
                                <i class="fa-regular fa-file"></i>
                                <p class="opportunities-main-type">Залоговый билет</p>
                            </div>
                        </div>
                        <div class="opportunities-main-column">
                            <div class="opportunities-main-text-column">
                                <h4 class="opportunities-main-column-title">МФО или КПК</h1>
                                <p class="opportunities-main-column-text">Описание типа ломбарда на две строки</p>
                            </div>
                            <div class="opportunities-main-type-column">
                                <i class="fa-regular fa-file"></i>
                                <p class="opportunities-main-type">Займ + Залог</p>
                            </div>
                        </div>
                        <div class="opportunities-main-column">
                            <div class="opportunities-main-text-column">
                                <h4 class="opportunities-main-column-title">Обратный лизинг</h1>
                                <p class="opportunities-main-column-text">Описание типа ломбарда на две строки</p>
                            </div>
                            <div class="opportunities-main-type-column">
                                <i class="fa-regular fa-file"></i>
                                <p class="opportunities-main-type">ДКП + ДФА</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="opportunities-link-container">
                    <div class="opportunities-link-icon-container">
                        <img src="/assets/main/images/index/calculator.svg" alt="">
                    </div>
                    <div class="opportunities-link-content">
                        <h1 class="opportunities-link-title">Создали специальную конфигурацию для обратного лизинга</h1>
                        <p class="opportunities-link-text">Учли все тонкости бизнеса и подключили необходимые сервисы</p>
                        <div class="opportunities-link-btn-container">
                            <a href="">
                                <button class="opportunities-link-btn">Сел и поехал</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="possibilities-section">
            <div class="possibilities-container pdIn-8rem">
                <article class="possibilities-article">
                    <h1 class="possibilities-article-title">Возможности <span>XLombard BPM System</span></h1>
                    <div class="possibilities-article-btn-container">
                        <a href="">
                            <button class="possibilities-article-btn">Попробовать бесплатно</button>
                        </a>
                    </div>
                </article>
                
                <div class="possibilities-content-wrapper">
                    <div class="possibilities-content-changer-column">
                        <button class="possibilities-content-changer active">Лидогенерация и обработка заявок</button>
                        <button class="possibilities-content-changer">Скоринг и комплексная проверка заёмщика</button>
                        <button class="possibilities-content-changer">Оформление договора и выдача ДС заёмщику</button>
                        <button class="possibilities-content-changer">Операционный учёт текущих договоров</button>
                        <button class="possibilities-content-changer">Полный контроль общения с клиентом</button>
                        <button class="possibilities-content-changer">Управленческие отчёты, аналитика и виджеты</button>
                        <button class="possibilities-content-changer">Учёт всех расходов и доходов</button>
                        <button class="possibilities-content-changer">Реализация залогового имущества</button>
                    </div>
                    <div class="possibilities-content-column">
                        <div class="possibilities-content">
                            <div class="possibilities-content-icon-container">
                                <i class="fa-solid fa-file-import"></i>
                            </div>
                            <div class="possibilities-content-text-container">
                                <h4 class="possibilities-content-title">Агрегатор заявок</h4>
                                <p class="possibilities-content-text">Агрегатор заявок на займ из различных источников (веб-сайтов, партнеров компании и т.д.), позволяет более качественно управлять входящими обращениями клиентов</p>
                            </div>
                        </div>
                        <div class="possibilities-content">
                            <div class="possibilities-content-icon-container">
                                <i class="fa-regular fa-bell"></i>
                            </div>
                            <div class="possibilities-content-text-container">
                                <h4 class="possibilities-content-title">Уведомления</h4>
                                <p class="possibilities-content-text">Sms и Email-уведомления обо всех операциях в компании. Также используется для уведомлений клиентам компании о текущем состоянии договора, акциях и скидках</p>
                            </div>
                        </div>
                        <div class="possibilities-content">
                            <div class="possibilities-content-icon-container">
                                <i class="fa-solid fa-file-import"></i>
                            </div>
                            <div class="possibilities-content-text-container">
                                <h4 class="possibilities-content-title">Исключаем человеческий фактор</h4>
                                <p class="possibilities-content-text">XLombard MOD - дополнительные модули позволяют существенно оптимизировать ежедневную работу сотрудников. XLombard делает невозможными ошибки, связанные с человеческим фактором при оформлении договоров.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>