main {
    width: min(100%, 1920px);
    margin: 0 auto;
}

.pdIn-8rem {
    padding-inline: 8rem;
}

.heading-section {
    margin-top: 10rem;
}

.heading-container {
    display: flex;
}

.heading-text-column {
    width: 50%;

    .heading-title {
        color: var(--black);
        font-size: 3.375rem;
        line-height: 115%;

        span {
            color: var(--primary-color);
        }
    }

    .heading-text {
        color: var(--black);
        font-size: 2rem;
        line-height: 120%;
        width: min(100%, 30rem);
        margin-block: 2rem 1rem;
    }

    .heading-btn-container {
        display: flex;
        align-items: center;
        gap: 1rem;

        .heading-btn {
            @extend .primary-button;
        }

        .heading-btn-info {
            color: var(--gray-text);
            font-size: 1rem;
            line-height: 140%;
            width: min(100%, 18rem);
        }
    }
}

.heading-content-container {
    display: flex;
}

.heading-content-feautres {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 22rem;
    gap: 3rem;
    margin-top: 3rem;
    z-index: 1;

    .heading-content-column {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        gap: 0.5rem;
        border-radius: 0.625rem;
        background: var(--white);
        padding: 2.3rem;
        width: 8rem;
        height: 8rem;
        transition: all 0.4s ease;
        border: 2px solid var(--primary-color);
        border-radius: 0.625rem;
        cursor: pointer;

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            transform: rotate(30deg);
            z-index: -2;
            background: var(--heading-extra);
            border-radius: 0.625rem;
        }

        &.active {
            transform: rotate(30deg);
            background: var(--button-stroke-white);
            border-color: var(--button-stroke-white);
            box-shadow: 22px 22px 16px -15px rgba(0, 68, 173, 0.29);

            .heading-content-text,
            &::after {
                display: none;
            }

            i {
                font-size: 3rem;
                transform: rotate(-30deg);
            }
        }

        i {
            font-size: 1.5rem;
            color: var(--heading-main);
        }

        .heading-content-text {
            color: var(--primary-color);
            text-align: center;
            font-size: 1rem;
            line-height: 120%;
        }
    }
}

.heading-showed-content {
    position: relative;
    margin-left: 18rem;
    background: var(--block-gray);
    border-radius: 1.25rem;
    padding: 2.5rem;
    max-width: 20rem;

    .heading-showed-title {
        position: relative;
        color: var(--black);
        font-size: 2.25rem;
        line-height: 120%;

        span {
            background: var(--heading-extra);
            padding-left: 0.5rem;
        }
    }

    .heading-showed-ul {
        display: grid;
        gap: 1rem;
        padding-left: 4rem;
        margin-top: 1.5rem;

        .heading-showed-list {
            color: var(--black);
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 130%;
            list-style: disc;

            &::marker {
                color: var(--primary-color);
            }
        }
    }
}

// opportunities

.opportunities-section {
    background: linear-gradient(180deg, #EFF1FD 0%, #FAFAFC 100%);
    margin-block: 7rem 5rem;
}

.opportunities-container {
    padding-block: 5rem;
}

.opportunities-main-content {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.opportunities-main-title {
    position: relative;
    width: min(100%, 18rem);
    color: var(--black);
    font-size: 2.5rem;
    line-height: 110%;
    z-index: 10;

    &::before {
        position: absolute;
        content: "";
        width: 3rem;
        height: 3rem;
        left: -1rem;
        background: var(--heading-second);
        z-index: -1;
    }
}

.opportunities-main-content-wrapper {
    display: flex;
    gap: 2rem;
}

.opportunities-main-column {
    width: min(100%, 20rem);
    box-shadow: 0px 26px 44px -10px rgba(57, 81, 219, 0.27);
    border-radius: 1.25rem;
    background: var(--white);

    .opportunities-main-text-column {
        background: var(--white);
        padding: 2.3rem 2rem;
        border-radius: 1.25rem 1.25rem 0rem 0rem;

        .opportunities-main-column-title {
            color: var(--black);
            font-size: 1.5rem;
            line-height: 120%
        }

        .opportunities-main-column-text {
            color: var(--gray-text);
            font-size: 1rem;
            font-weight: 500;
            line-height: 140%;
            margin-top: 0.5rem;
        }
    }

    .opportunities-main-type-column {
        display: flex;
        gap: 0.5rem;
        background: var(--block-gray);
        padding: 1.5rem 2rem;
        border-radius: 0rem 0rem 1.25rem 1.25rem;
        margin-top: 1rem;

        i,
        .opportunities-main-type {
            color: var(--block-gray-text);
            font-size: 0.875rem;
            font-weight: 700;
            line-height: 140%;
            text-transform: uppercase;
        }
    }
}

.opportunities-link-container {
    display: flex;
    gap: 10rem;
    margin-top: 5rem;

    .opportunities-link-icon-container {
        position: relative;
        background: var(--block-extra-gray);
        transform: rotate(45deg);
        box-shadow: 0px 26px 44px -10px rgba(57, 81, 219, 0.27);
        border-radius: 1.25rem;
        padding: 3rem;

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            transform: rotate(25deg);
            z-index: -2;
            background: var(--white);
            border-radius: 0.625rem;
            top: 0;
            left: 0;
        }

        img {
            width: 7rem;
            height: 7rem;
            object-fit: contain;
            transform: rotate(-45deg);
        }
    }

    .opportunities-link-content {
        .opportunities-link-title {
            position: relative;
            color: var(--black);
            font-size: 1.75rem;
            z-index: 1;

            &::before {
                position: absolute;
                content: "";
                width: 2.5rem;
                height: 2.5rem;
                left: -0.5rem;
                background: var(--heading-extra);
                z-index: -1;
            }
        }

        .opportunities-link-text {
            color: var(--black);
            font-size: 1.25rem;
            font-weight: 400;
            margin-block: 1.5rem 1rem;
        }

        .opportunities-link-btn-container {
            .opportunities-link-btn {
                @extend .primary-button;
            }
        }
    }
}

// possibilities

.possibilities-section {
    margin-bottom: 5rem;
}

.possibilities-article {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .possibilities-article-title {
        position: relative;
        color: var(--black);
        font-size: 2.25rem;
        line-height: 110%;

        &::before {
            position: absolute;
            content: "";
            width: 3.1rem;
            height: 3.1rem;
            left: -1.5rem;
            top: -0.5rem;
            background: var(--heading-main);
            z-index: -1;
        }

        span {
            color: var(--primary-color);
        }
    }

    .possibilities-article-btn {
        @extend .primary-button;
    }
}

.possibilities-content-wrapper {
    position: relative;
    margin-top: 3rem;
}

.possibilities-content-changer-column {
    position: absolute;
    display: flex;
    flex-flow: column;
    .possibilities-content-changer {
        @extend .button-stroke;
        text-align: start;
        margin-block: 0.25rem;
        width: min(100%, 27rem);

        &.active {
            @extend .button-stroke-white;
            font-size: 1.4rem !important;
            width: min(100%, 30rem);
        }
    }
}

.possibilities-content-column {
    display: grid;
    gap: 5rem;
    margin-left: 29rem;
    border-radius: 1.25rem;
    padding: 3rem;
    background-color: var(--block-gray);
}

.possibilities-content {
    display: flex;
    gap: 2rem;

    .possibilities-content-icon-container {
        position: relative;
        background: var(--block-extra-gray);
        transform: rotate(45deg);
        box-shadow: 0px 26px 44px -10px rgba(57, 81, 219, 0.27);
        border-radius: 1.25rem;
        padding: 1.5rem;

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            transform: rotate(25deg);
            z-index: -1;
            background: var(--white);
            border-radius: 0.625rem;
            top: 0;
            left: 0;
        }

        i {
            font-size: 3.5rem;
            color: var(--primary-color);
            transform: rotate(-45deg);
        }
    }
}

.possibilities-content-text-container {
    .possibilities-content-title {
        position: relative;
        color: var(--black);
        font-size: 1.5rem;
        line-height: 120%;
        padding-block: 1rem;

        &::before {
            position: absolute;
            content: "";
            width: 2rem;
            height: 0.3rem;
            background-color: var(--primary-color);
            border-radius: 1rem;
            top: 0;
        }
    }

    .possibilities-content-text {
        color: var(--black);
        font-weight: 400;
        line-height: 140%;
    }
}