li,
a,
button {
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    transition: all 0.4s ease;
    font-style: normal;
    line-height: normal;
}

button {
    cursor: pointer;
}